---
note: NOT USED - REDIRECTED TO SHOW one-quote.md instead !!!
title: RUDIVERSE Quotes
---
	<h1>{{ page.title }}</h1>

	{% assign en_posts = site.quotes | where_exp: "item", "item.en == 'required'" %}

	{% assign filtered_posts = en_posts | where_exp: 'item', 'item.de != "required"' | where_exp: 'item', 'item.bar != "required"' %}
	{% if filtered_posts.size > 0 %}
		<h2>Only English language knowledge required</h2>
		<ul class="posts">
		{% for post in filtered_posts %}
			<li><span>{{ post.source }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
		{% endfor %}
		</ul>
	{% endif %}

	{% assign filtered_posts = en_posts | where_exp: 'item', 'item.de == "required"' %}
	{% if filtered_posts.size > 0 %}
		<h2>English plus German language knowledge required</h2>
		<ul class="posts">
		{% for post in filtered_posts %}
			<li><span>{{ post.source }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
		{% endfor %}
		</ul>
	{% endif %}

	{% assign filtered_posts = en_posts | where_exp: 'item', 'item.bar == "required"' %}
	{% if filtered_posts.size > 0 %}
		<h2>English plus Bavarian language knowledge required</h2>
		<ul class="posts">
		{% for post in filtered_posts %}
			<li><span>{{ post.source }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
		{% endfor %}
		</ul>
	{% endif %}