---
title: RUDIVERSE Blog
---
	<h1>{{ page.title }}</h1>

	{% assign de_posts = site.posts | where_exp: "item", "item.de == 'required'" %}

	{% assign filtered_posts = de_posts | where_exp: 'item', 'item.en != "required"' | where_exp: 'item', 'item.bar != "required"' %}
	{% if filtered_posts.size > 0 %}
		<h2>Ausschließlich Deutschkenntnisse nötig</h2>
		<ul class="posts">
		{% for post in filtered_posts %}
			<li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
		{% endfor %}
		</ul>
	{% endif %}

	{% assign filtered_posts = de_posts | where_exp: 'item', 'item.en == "required"' %}
	{% if filtered_posts.size > 0 %}
		<h2>Deutsche und englische Sprachkenntnisse nötig</h2>
		<ul class="posts">
		{% for post in filtered_posts %}
			<li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
		{% endfor %}
		</ul>
	{% endif %}

	{% assign filtered_posts = de_posts | where_exp: 'item', 'item.bar == "required"' %}
	{% if filtered_posts.size > 0 %}
		<h2>Deutsche und bayrische Sprachkenntnisse nötig</h2>
		<ul class="posts">
		{% for post in filtered_posts %}
			<li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
		{% endfor %}
		</ul>
	{% endif %}
