---
title: RUDIVERSE Blog
language: bar
---
	<h1>{{ page.title }}</h1>

	{% assign bar_posts = site.posts | where_exp: 'item', 'item.bar == "required"' %}

	<h2>Ausschließlich Boarischkenntnisse nötig</h2>
	<ul class="posts">
	  {% assign filtered_posts = bar_posts | where_exp: 'item', 'item.en != "required" and item.de != "required"' %}
	  {% for post in filtered_posts %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>

	<h2>Boarisch und no andane Sprachkenntnisse nötig</h2>
	<ul class="posts">
	  {% assign filtered_posts = bar_posts | where_exp: 'item', 'item.en == "required" or item.de == "required"' %}
	  {% for post in filtered_posts %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>
