<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
			<title>{{ page.title }}</title>
    		<link rel="stylesheet" href="/assets/css/styles.css">
			<script language="javascript" src="/assets/js/languages.js"></script>
			<script language="javascript" src="/assets/js/quiz_metadata.js"></script>
			<script language="javascript" src="/assets/js/quiz.js"></script>
			<script language="javascript" src="/assets/js/quote.js"></script>
			<script language="javascript" src="/assets/js/quote_data.js"></script>
		</head>
		<body onload="buildNavMenuAndLanguageSwitcher()">
			{% include navigation.html %}
			{% include langswitch.html %}

			<div class="container" style="clear: both;">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				
			</footer>
		</body>
	</html>
